################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api_SportsClub.api/.vs
/.vs
/Api_SportsClub.api/Api_SportsClub.api/bin/Debug/netcoreapp3.1
/Api_SportsClub.api/Api_SportsClub.api/obj
/Api_SportsClub.api/Api_SportsClub.repository/obj
/Code/sportsclub_management.api/.vs
/Code/sportsclub_management.api/sportsclub_management.api/bin/Debug/netcoreapp3.1
/Code/sportsclub_management.api/sportsclub_management.api/obj
/Code/sportsclub_management.api/sportsclub_management.models/obj
/Code/sportsclub_management.api/sportsclub_management.repository/bin/Debug/netcoreapp3.1
/Code/sportsclub_management.api/sportsclub_management.repository/obj
/Code/sportsclub_management.api/sportsclub_management.models/bin/Debug/netcoreapp3.1
